/__pycache__/
/.idea
/repos
/solutions
/TestRunner/*.java
/TestRunner/*.class
/TestRunner/*.o
/TestRunner/*.go
/TestRunner/*.cpp
/TestRunner/other_solution.py
/TestRunner/input.txt
already_downloaded.txt
cookie.txt
problem_cache.db
problem_cache.db-journal
test.py
